@using LightDataTable.Site.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="siteContainer">
        <div id="cssmenu">
            @Html.Tag(LightData.CMS.Modules.Helper.EnumHelper.Tags.TopMenu)
        </div>
        <div id="centerContent">
            @RenderBody()
        </div>
        @Html.Tag(LightData.CMS.Modules.Helper.EnumHelper.Tags.Footer)
    </div>

    <script>
        $(document).ready(function () {
         
        });



    </script>
</body>
</html>
